@use "./src/index";

$task-important-bg: rgba(index.$task-important-bg, 10%);
$task-important-hover-bg: rgba(index.$task-important-bg, 25%);
$task-hover-bg: rgba(index.$button-bg, 50%);

.task {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 20px auto;
	max-height: 0;
	min-height: 0;
	transition: max-height 500ms ease 0ms,
	min-height 500ms ease 0ms,
	background-color 150ms ease-out 0s;

	&:not(:last-child) {
		border-bottom: 1px solid index.$button-bg;
	}

	&.important {
		border-radius: 6px;
		background-color: $task-important-bg;
	}

	&.important:hover {
		background-color: $task-important-hover-bg;
	}

	&:not(.important):hover {
		background-color: $task-hover-bg;
		border-color: $task-hover-bg;
		border-radius: 6px;
	}

	&.done {
		.text {
			text-decoration: line-through;
		}
	}

	.text-wrap {
		display: flex;
		width: 100%;
		height: 75%;
		align-items: center;
		justify-content: flex-start;
		padding-left: 20px;

		.text {
			margin-left: 10px;
			font-size: 18px;
		}
	}

	.section {
		display: block;
		position: relative;
		height: 25%;
		padding-left: 20px;
		font-size: 14px;

		button {
			margin-bottom: 0;
		}

		.date {
			font-family: "Barlow", sans-serif;
			font-weight: 200;
		}
	}

	button.active {
		background-color: index.$active-button-bg;

		&:hover {
			background-color: index.$active-button-hover-bg;
		}
	}

	.checkbox {
		border: none;
		padding: 0;
		width: 20px;
		height: 20px;
		max-height: 20px;
		max-width: 20px;
		min-width: 20px;
		min-height: 20px;
		background-color: index.$button-bg;
		transition: background-color 100ms ease-out;

		&:hover {
			background-color: index.$button-hover-bg;
		}

		img {
			width: 90%;
			height: 90%;
		}
	}
}
