$main-bg: #dff9fb;
$task-done-bg: #ff7675;
$task-important-bg: #55efc4;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  background-color: $main-bg;
}

.app-header {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #333;
}

.task-container {
  display: block;
  margin: 40px auto;
  width: 80%;
  background-color: #fff;

  .task {
    display: block;
    width: 100%;
    min-height: 90px;
    margin: 20px auto;
    
    &.important {
      background-color: $task-important-bg;
    }

    &.done {
      .text {
        text-decoration: line-through;
      }

      background-color: rgba($task-done-bg, .25);
    }

    .text-wrap {
      display: flex;
      align-items: center;

      .text {
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }

  .is-done {
    display: inline-block;
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}


