@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
// Raleway, sans-serif
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap');
// Barlow, sans-serif

$main-bg: #0d1117;
$header-bg: #161b22;
$button-bg: #21262d;
$button-hover-bg: lighten($button-bg, 10);
$task-done-bg: #ff7675;
$task-important-bg: #55efc4;
$focus-border: #e84118;
$text-color: #e2f6fc;
$active-button-bg: #226eb8;
$active-button-hover-bg: lighten($active-button-bg, 20);

:focus {
  outline: 2px solid $button-bg;
}

:root {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: inherit;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  max-height: 0;
  max-width: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-bg;
}

button, input[type=button] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 0 16px;
  margin: 5px;
  background-color: $button-bg;
  user-select: none;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid $button-hover-bg;
  border-radius: 6px;
  color: #bed1d9;
  transition: background-color 200ms ease;

  &:hover {
    background-color: $button-hover-bg;
  }

  img {
    position: relative;
    width: 15px;
    height: 15px;
  }
}
